# Web 框架
fastapi>=0.104.1
uvicorn>=0.24.0
python-multipart>=0.0.6
websockets>=12.0

# 图像处理
opencv-python>=4.8.1.78
numpy>=1.24.3
pillow>=10.0.0

# 深度学习
torch>=2.1.0
torchvision>=0.16.0
transformers>=4.35.0
peft>=0.7.0
sentencepiece==0.1.99

# 工具
setuptools>=69.0.0
wheel>=0.42.0
timm>=0.9.0 